section.banner-sec {
    position: relative;
    margin-bottom: 70px;
}

.bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    position: relative;
    height: 550px;
}

.bg_img > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg_img .container {
    z-index: 2;
    position: relative;
}

.banner-caption {
    padding: 150px 0 180px;
}

.banner-bottom-part {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.scroll_down {

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.scroll_down a {
    display: inline-block;
    background-color: #2FB4E9;
    color: #fff;
    padding: 25px 55px;
}

.scroll_down svg {
    margin-left: 5px;
    -webkit-animation: bounce 2s ease-out infinite both;
    animation: bounce 2s ease-out infinite both;
    vertical-align: middle;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.banner-caption-bottom {
    display: flex;
    align-items: flex-end;
    color: #fff;
    font-weight: normal;
    font-size: 1.6rem;
}

.banner-caption h2 {
    font-size: 6rem;
    color: #fff;
    line-height: 1.4;
    font-weight: 300;
    max-width: 50%;
}

.banner-caption-bottom p {
    font-weight: 300;
    max-width: 325px;
    margin: 0;
}

.banner-caption-bottom h3 {
    font-weight: 300;
    padding-left: 150px;
    position: relative;
    line-height: 100%;
    transition: all 0.5s ease-in-out;
}

.banner-caption-bottom h3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    width: 130px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}

.banner-caption-bottom a,
.banner-caption-bottom a:hover {
    color: #fff;
    text-decoration: none;
}

.banner-caption-bottom h3:hover {
    padding-left: 200px;
}

.banner-caption-bottom h3:hover:before {
    width: 180px;
}

.progress,
.swiper-scrollbar {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    background-image: linear-gradient(to right, #2FB4E9, #2FB4E9);
    background-repeat: no-repeat;
    background-size: 0 100%;
    opacity: 50%;
    transition: background-size .4s ease-in-out;
}

.banner-sec .slick-prev,
.banner-sec .slick-next {
    opacity: 0;
}

.banner-sec:hover .slick-prev,
.banner-sec:hover .slick-next {
    opacity: 1;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background-color: #9D9D9C;
    z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #2FB4E9;
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
}

.slider-count {
    color: #fff;
}

@media (max-width: 600px) {
    .banner-caption h2 {
        font-size: 4rem;
        max-width: 100%;
    }
    .banner-caption-bottom {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .banner-caption-bottom h3 {
        margin-top: 15px;
    }
    .scroll_down a {
        padding: 15px 20px 15px 30px;
    }
}